.App {
  text-align: center;
}

vorple-section {
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow-wrap: normal;
  overscroll-behavior: auto contain;
  margin: auto;
  height: 50em;
  max-height: 50em;
}

.vorple-content {
  display: flex;
  overflow: auto;
  align-content: inherit;
  padding: 5% 5%;
  overscroll-behavior: inherit;
  border: 4px solid #c66;
  bottom: 10vh;
  scroll-behavior: inherit;
  height: inherit;
  max-height: inherit;
}

.vorple-box {
  display: inherit;
  border: 3px solid #b6b6b6;
  height: inherit;
  max-height: inherit;
  min-height: min-content; /* needs vendor prefixes */
  margin: auto;
  align-items: center;
  align-self: center;
  overscroll-behavior: inherit;
  padding: 5% 5%;
  padding-block: inherit;
  scroll-behavior: inherit;

}

.push {
  height: 80px;
}

.mote-copy {
  width: 100%;
    animation: Home-appear 0.2s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
    max-width: 32rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    scroll-behavior: inherit;
}
